<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen" title="no title">
    <script src="../public/scripts/app.js"></script>

    <link rel="stylesheet" href="../public/styles/stylesheet.css" media="screen" title="no title">
    <title>BeerMe</title>
</head>

<body class="grey lighten-3">
    <div class="navbar-fixed">
        <nav class="blue">
            <div class="nav-wrapper container">
                <h4>BeerMe</h4>
            </div>
        </nav>
    </div>

    <div class="carousel">
     <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
     <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
     <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
     <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
     <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
   </div>

    <nav class="">
        <div class="nav-wrapper container">
            <form>
                <div class="input-field">
                    <input id="search" type="search" class="grey lighten-4" required="">
                    <label for="search"><i class="mdi-action-search"></i></label>
                    <i class="mdi-navigation-close"></i>
                </div>
            </form>
        </div>
    </nav>

    <div class="container">
      <div class="row">
          <div class="col l9">

              <div class="card">
                  <div class="card-content">
                      <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut
                      </p>
                      <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan farm-to-table Williamsburg slow-carb
                      </p>
                  </div>
              </div>
              <div class="card">
                  <div class="card-content">
                      <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronutsemiotics,raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage  Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwavemeditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>
                  </div>
              </div>
              <div class="card">
                  <div class="card-content">
                      <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>


                      <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan farm-to-table Williamsburg slow-carbreadymade disrupt deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.</p>
                  </div>
              </div>
          </div>


          <div class="col l3">
              <div id="aside">
                  <div class="card">
                      <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</body>

</html>
