.container{
  margin-top: 20px;
  width: 85%;
}

#search{
  margin: 8px 0 0 0 ;
  height: 50px;
}

.search-icon{
  top:
}

.add-beer{
  display: block;
  margin-right: 8px;
}
.add-location{
  display: block;
  margin: 12px
}
