.container{
  margin-top:;
  width: 85%;
}

#search{
  margin: 8px 0 0 0 ;
  height: 50px;
}

.search-icon{
  top:
}

/*.add-beer{
  display: block;
  margin: 8px;
}
.add-location{
  display: block;
  margin: 12px
}*/
